* {
  margin: 0;
  padding: 0;
  font-family: "Inter-Regular";
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../public/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../public/fonts/Inter-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../public/fonts/Inter-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

.navbar {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 13;
}
